body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    animation: fadein 3s forwards;
    background-image: url("image/background.jpg");
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 600px) {
    body {
        display: none; /* Cache tout le contenu du body */
    }
}
.signature {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    margin: 0;
}
.main-police {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*CONTAINER PRINCIPAL*/
#container {
    display: flex;  
}
/*LEFT PART*/
#left-part {
    width: 200px;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    background-color: rgb(255, 241, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color: #b73434;  
}
#logo-link {
    text-decoration: none;
}
#menu {
    margin-top: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.bouton-menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: left;
}
.lien-menu {
    color: grey;
    text-decoration: none;
}
.lien-menu:hover {
    color: black;
}
.lien-menu:hover {
    transform: scale(1.1);
    transition: 1s;
}
#instagram-logo {
    height: 20px;
    width: 20px;
    margin: 0;
}
#instagram-logo:hover {
    transform: scale(1.1);
}
#lien-instagram {
    margin-bottom: 10px;
    margin-top: 0;
}
#copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    text-align: center;
}
/* IMAGE MILIEU*/
#separateur {  
    flex: 1;
    padding: 20px;
}
/* PARTIE DROITE - TEXTE*/
#text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 15px 15px 15px 15px;
}
#text {
    display: flex;
    flex-direction: column-reverse;
}
#hover-french-color, #hover-english-color {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition: opacity 0.4s ease;
}
#hover-french-color {
    opacity: 1;
}
#hover-english-color {
    opacity: 0.3;
}
#hover-english-color:hover {
    opacity: 1;
}
#hover-english-color:hover ~ #hover-french-color {
    opacity: 0.3;
}
#fleche {
    height: 45px;
    width: 45px;
    rotate: 270deg;
    animation: fade 2s infinite;
}
@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 75%; }
}