body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fadein 3s forwards;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 600px) {
    body {
        display: none; /* Cache tout le contenu du body */
    }
}
/*LEFT PART*/
#left-part {    
    height: 100vh;
    width: 230px;
    position: fixed;
    display: flex;
    z-index: 2;
}
#left-part-content:hover {
    opacity: 1;
    transition: 0.5s;
    height: 100vh;
    width: 200px;
}
#left-part-content:hover ~ #button-part {
    opacity: 0;
    transition: 0.5s;
}
#left-part-content {
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 241, 221);
    opacity: 0;
    
}
#logo-link {
    text-decoration: none;
}
#button-part {
    position: absolute;
    height: 100vh;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#arrow {
    height: 30px;
    width: 30px;
    animation: slidein 1.5s infinite;
    rotate: 180deg;
}
@keyframes slidein {
    from {
        transform: translateX(-2px);
        opacity: 50%;
    }
    to {
        transform: translateX(2px);
        opacity: 100%;
    }
}
/* content*/
#nom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color: rgb(183, 52, 52);  
}
#menu {
    margin-top: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.bouton-menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: left;
}
.lien-menu {
    color: grey;
    text-decoration: none;
}
.lien-menu:hover {
    color: black;
}
.lien-menu:hover {
    transform: scale(1.1);
    transition: 1s;
}
#instagram-logo {
    height: 20px;
    width: 20px;
    margin: 0;
}
#instagram-logo:hover {
    transform: scale(1.1);
}
#lien-instagram {
    margin-bottom: 10px;
    margin-top: 0;
}
#copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    text-align: center;
}
/*index*/
#index {
    z-index: 1;
}
/*main content*/
#top-container {
    height: 100px;
    width: 100%;
    background-image: url("../image/background.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#title {
    color: white;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: 300;
    text-shadow: 4px 4px 10px black;
    transition: 0.5s;
}
#title:hover {
    transform: scale(1.01);
}
/*middle content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentation {
   width: 800px;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   margin-top: 10px;
}
#image-title-container {
    background-image: url("../image/photoapropos.JPEG");
    filter: opacity(65%);
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px 0;
    border-radius: 10px;
}
#titre-presentation {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 7px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
#english-text {
    text-align: justify;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 2em;
    width: 800px;
    opacity: 35%;
    transition: 1s;
}
#french-text {
    text-align: justify;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 2em;
    width: 800px;
    transition: 1s;
}
#english-text:hover {
    opacity: 100%;
}
#english-text:hover ~ #french-text {
    opacity: 35%;
}
#signature {
    height: 70px;
    width: 190px;
    margin-top: 10px;  
    margin-bottom: 50px;  
}
#bottom-image {
    background-image: url("../image/photoapropos.JPEG");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
}